In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import  train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df=pd.read_csv(r"C:\Users\Administrator\Downloads\mail_data.csv")

df.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.shape

(5572, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [7]:
df.duplicated().any()

True

In [8]:
df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().any()

False

In [11]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [16]:
df.loc[df['Category']== 'spam','Category',] = 0
df.loc[df['Category']== 'ham','Category',] = 1

In [17]:
X=df['Message']

y=df['Category']

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)


feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

X_train_feature=feature_extraction.fit_transform(X_train)
X_test_feature=feature_extraction.transform(X_test)

In [22]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [ ]:
model=LogisticRegression()

model.fit(X_train_feature,y_train)

prediction_on_training_data=model.predict(X_train_feature)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)

print(f"Accuracy on training data is {accuracy_on_training_data}")

Accuracy on training data is 0.9670181736594121

In [28]:
predicting_on_testing_data=model.predict(X_test_feature)
accuracy_on_testing_data=accuracy_score(y_test,predicting_on_testing_data)
print(f"Accuracy on testing data {accuracy_on_testing_data}")

Accuracy on testing data 0.967713004484305